.CreateRoom {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px;
  min-height:50px;
  height:10vh;

}

.CreateRoom input:first-child {
  flex: auto;
  line-height: 2.4rem;
  margin-right: 5px;
  
}

/* .CreateRoom button {
  width: 100px;
} */