.Room {
  background: #fff;
  flex: auto;
  overflow: hidden;
  
}

.Room h1{
  margin-left: 2%;
  background-color: #DF4A3D;
  margin:0;
  padding:0.67em;
  margin-bottom: 10px;
  font-family: 'Londrina Solid', sans-serif;
  color: white;
}

.main_container{
  height: 100%;
}

.chat_display{
  padding-right: 5%;
  padding-left: 5%;
  height:75%;
  overflow-y: scroll;

}

.message_bubble{
  padding: 10px 10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  display: inline-block;
  max-width: 75%;
  overflow-wrap: break-word;
  
  background-color: #FCEC68;
  
  
  
}
